<div class = "header">
  <div class = "header-left">
    <%= link_to 'ラクテン！', '/', class: "header-title" %>
  </div>
  <div class = "header-right">
  <% if user_signed_in? %>
    <ul>
      <li><%= link_to "マイページ", user_path(current_user), class: "header__right--btn" %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to '新規登録', new_user_registration_path, method: :get %></li>
      <li><%= link_to 'ログイン', new_user_session_path, method: :get %></li>
    </ul>
  <% end %>
  </div>
</div>

<div class="main">
  <ul class="main-function">
    <li>
      <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
      <h3>転職サイト一覧</h3>
    </li>
    <li>
      <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
      <%= link_to '選考状況登録', new_post_path%>
    </li>
    <li>
      <i class="fa fa-address-book-o fa-4x" aria-hidden="true"></i>
      <%= link_to '選考状況一覧', user_path(current_user)%>
    </li>
  </ul>
</div>

<div class = "footer">
  <div class = "footer-message">
    &copy;2020 Manage App
  </div>
</div>